<section class="container mt-5">
  <div class="text-center mb-5">
    <img src="/img/burranaLogo.png" alt="Imagen del sistema" class="img-fluid mb-3" style="max-width: 400px;">
    <h1>Sistema de Gestión de Equipos IT</h1>
  </div>
    <div class="row mb-5">
      <!-- Card Equipos -->
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <i class="bi bi-laptop fs-1"></i> <!-- Icono Bootstrap -->
            <h5 class="card-title mt-3">Equipos</h5>
            <p class="card-text">Gestiona todos los equipos y dispositivos.</p>
            <a href="/equipos" class="btn btn-primary">Ir a Equipos</a>
          </div>
        </div>
      </div>
  
      <!-- Card Usuarios -->
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <i class="bi bi-person fs-1"></i> <!-- Icono Bootstrap -->
            <h5 class="card-title mt-3">Usuarios</h5>
            <p class="card-text">Administra los usuarios y sus roles.</p>
            <a href="/users" class="btn btn-primary">Ir a Usuarios</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Card Equipos -->
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <i class="bi bi-card-list fs-1"></i> <!-- Icono Bootstrap -->
            <h5 class="card-title mt-3">Categorias</h5>
            <p class="card-text">Gestiona las categorias por las cuales se clasifican tus equipos.</p>
            <a href="/tipoEquipo" class="btn btn-primary">Ir a Categorias</a>
          </div>
        </div>
      </div>
  
      <!-- Card Usuarios -->
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body">
            <i class="bi bi-people fs-1"></i> <!-- Icono Bootstrap -->
            <h5 class="card-title mt-3">Departamentos</h5>
            <p class="card-text">Administra los departamentos del sistema.</p>
            <a href="/departamentos" class="btn btn-primary">Ir a Departamentos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  